<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <%- include('../../layout/styleLinks') %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
</head>
<body>
  <%- include('../../layout/header') %>
  <header id="head2">
    Search Results
  </header>
  <ul>
    <% books.forEach( (book, idx) => { %>
      <li>
        <img src="<%= book.thumbnail %>">
        <p>Title: <%= book.title %></p>
        <p>Author: <%= book.author %></p>
        <p>ISBN #: <%= book.isbn %></p>
        <p>Description: <%= book.description %></p>
        <div id="<%= idx %>" class="hide">
          <form id="create-form" action="/add" method="post">
            <fieldset>
              <input type="text" name="author" value="<%= book.author %>" required>
              <input type="text" name="title" value="<%= book.title %>" required>
              <input type="text" name="isbn" value="<%= book.isbn %>" required>
              <input type="text" name="image_url" value="<%= book.thumbnail %>">
              <textarea name="description" value="<%= book.description %>" cols="30" rows="10"><%= book.description %></textarea>
              <input type="text" name="bookshelf" placeholder="Bookshelf name" required>
              <button type="submit">Add Book</button>
            </fieldset>
          </form>
        </div>
        <button class="selectBook" value="<%= idx %>">Select Book</button>
      </li>
    <% }) %>
  </ul>
</body>
<script>
  $('.selectBook').on('click', function(event) {
    let id = $(this).attr('value');
    console.log('value: ', id);
    if ($(`#${id}`).attr('class') === 'hide') {
      // $(`#${id}`).slideDown(750);
      $(`.selectBook[value='${id}']`).text('Cancel')
      $(`#${id}`).toggleClass('hide');
    } else {
      // $(`#${id}`).slideUp(750);
      $(`.selectBook[value='${id}']`).text('Select Book');
      $(`#${id}`).toggleClass('hide');
    }
  });
</script>
</html>