<!DOCTYPE html>
<html>
<head>
  <title>My Bookshelf</title>
  <%- include('../layout/styleLinks') %>
</head>
<body>
  <%- include('../layout/header') %>
  <header id="head2">
    My Books
  </header>
  <section class="book-view container">
    <h2>Total Books: <%= results.length %></h2>
    <ul>
      <% results.forEach( book => { %>
        <li class="book-item" data-id="<%= book.id %>">
          <img src="<%= book.image_url %>">
          <p>Title: <%= book.title %></p>
          <p>Author: <%= book.author %></p>
          <a class="button" href="/books/<%= book.id %>">View Details</a>
        </li>
      <% }) %>
    </ul>
  </section>
</body>
</html>