<!DOCTYPE html>
<html>
<head>
  <title>My Bookshelf</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/modules.css" />
</head>
<body>
  <section class="book-view container">
    <h1>My Books</h1>
    <h2>Total Books: <%= results.length %></h2>
    <ul>
      <% results.forEach( book => { %>
        <li class="book-item" data-id="<%= book.id %>">
          <img src="<%= book.image_url %>">
          <p>Title: <%= book.title %></p>
          <p>Author: <%= book.author %></p>
          <a class="button" href="/books/<%= book.id %>">View Details</a>
        </li>
      <% }) %>
    </ul>
  </section>
</body>
</html>